/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold; /* Set font-weight to bold for all headers */
}

html,
body {
  height: 100%;
}

body {
  padding: 1em;
  height: 100%;
  display: flex;
  box-sizing: border-box;
}

.text {
  font-size: 16px;
  width: 30em;
  max-width: -webkit-fill-available;
  background-color: #f9f9f9;
  height: 30em;
  border: 1px solid #000;
  padding: 10px;
}

.hidden {
  display: none;
}

.button {
  padding: 1em 1.3em;
  background-color: black;
  color: white;
  border: none;
  width: 50%;
}

#editButton {
  border: 1px solid black;
  background: white;
  color: black;
}

#outer {
  max-width: fit-content;
  width: 100%;
  margin: auto;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}

/* #outputText {
  background-color: #ffe9cc;
  word-wrap: break-word;
  height: 50%;
  border: 1px solid #000;
  padding: 10px;
  overflow-y: scroll;
} */
/* 
.outerDiv {
  flex-direction: column;
  height: 100%;
  width: 100%;
  display: flex;
  overflow-y: scroll;
} */

#buttons {
  display: flex;
  gap: 1em;
}
